<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %}|PAGINA CON FLASK{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
    <h1>PAGINA CON FLASK {{now.day}} / {{now.month}} / {{now.year}}</h1>
    <ul>
        <li><a href="{{url_for('index')}}">Inicio</a></li>
        <li><a href="{{url_for('informacion')}}">Informacion</a></li>
        <li><a href="{{url_for('contacto')}}">Contacto</a></li>
        <li><a href="{{url_for('lenguajes')}}">Lenguaje</a></li>
        <li><a href="{{url_for('crear')}}">Crear coches</a></li>
    </ul>
    <hr>
    <hr>
    <section id="content">
        {%block content %}{% endblock %}
    </section>
    <footer>
        <h3>esates una pagina desde flask con rodrigo espinoza</h3>
    </footer>
</body>

</html>